<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControleFeriasDados.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ControleFeriasDados.Settings1>
            <setting name="ArquivoFuncionarios" serializeAs="String">
                <value>FuncionariosCadastro.txt</value>
            </setting>
            <setting name="ArquivoGrupos" serializeAs="String">
                <value>GruposCadastro.txt</value>
            </setting>
            <setting name="ArquivoFerias" serializeAs="String">
                <value>FeriasCadastro.txt</value>
            </setting>
        </ControleFeriasDados.Settings1>
    </applicationSettings>
</configuration>